
.tabs>ul{
	list-style-type: none;
}
.tabs>ul.tabs-bar{
	display: flex;
	border-bottom: 1px solid red;

}
.tabs>ul.tabs-bar>li{
	padding: 4px 8px;
	border: 1px solid transparent;
	border-bottom: 0;
}
.tabs>ul.tabs-bar>li:hover{
	border-color: red;
}
.tabs>ul.tabs-bar>li.active{
	border-color: blue;
}
.tabs>ul.tabs-content>li{
	display: none;
}
.tabs>ul.tabs-content>li.active{
	display: block;
}
